<section class="section mg">
    <div class="container pd">
        <div class="search">
          <h2>Search for fun things to do!</h2>
          <div id="searchform">
            <%= form_with url: authenticated_root_path, method: :post do %>
              <%= label_tag(:term, "") %>
              <%= text_field_tag(:term) %>
              <%= label_tag(:location, "") %>
              <%= text_field_tag(:location) %>
              <%= submit_tag("Search") %>
            <% end %>
          </div>
          <!--  populate cards with data -->
          <ul id="EventList">
            <% if @places.nil? %>
              <p>Awesome date night ideas will show up here</p>
            <% else %>
              <% @places.each do |place|%>
                <li class="event">
                  <div class="eventImg">
                    <img src=<%=place["image_url"] %> >
                  </div>
                  <div class="eventInfo">
                    <h2><%= place["name"] %></h2>
                    <p><%= place["location"]["address1"] %> <%= place["location"]["address2"]%> <%= place["location"]["address3"] %></p>
                    <p><%= place["location"]["city"]%>, <%= place["location"]["state"]%> <%= place["location"]["zipcode"] %></p>
                    <p>Rating: <%= place["rating"]%> 
                    <% if place["price"] != ""%> 
                        | Price: <%= place["price"]%>
                    <% else %>
                        | Price: N/A
                    <% end %></p>
                    <p><% if place["phone"] != ""%>
                        T: <%= place["phone"]%>
                    <% else %>
                        T: Unavailable
                    <%end%></p>
                    <p><%= link_to "Yelp", place["url"], target: "_blank"%></p>
                    <form action="<%= events_path %>" method="POST"> 
                      <input type="hidden" name="authenticity_token" value=<%= form_authenticity_token %> >                   
                      <input type="hidden" name="event[image_url]" value=<%= place["image_url"] %> >
                      <input type="hidden" name="event[name]" value= "<%= place["name"] %>" >
                      <input type="hidden" name="event[address]" value= "<%= place["location"]["address1"] %>" >
                      <input type="hidden" name="event[rating]" value= "<%= place["rating"] %>" >
                      <input type="hidden" name="event[price]" value= "<%= place["price"] %>" >
                      <input type="hidden" name="event[url]" value= "<%= place["url"] %>" >
                      <input type="hidden" name="event[phone]" value= "<%= place["phone"] %>" >
                      <input type="hidden" name="event[user_id]" value= "<%= current_user[:id] %>" >
                      <button id="add">Add Event</button>
                    </form>
                  </div>
                </li>
              <% end %>
            <% end %>
          </ul>
        </div>
    </div>
    <div class="container pd">
        <h2>Event Explorer</h2>
    </div>
</section>