<ul id="EventList">
  <% if @events.nil? %>
    <p>Awesome date night ideas will show up here</p>
  <% else %>
    <% @events.each do |event|%>
      <li class="event">
        <div class="eventImg">
          <img src=<%=event["image_url"] %> >
        </div>
        <div class="eventInfo">
          <h2><%= event["name"] %></h2>
          <p><%= event["address"] %></p>
          <p>Rating: <%= event["rating"]%> 
          <% if event["price"] != ""%>
          | Price: <%= event["price"]%>
          <% else %>
          | Price: N/A
          <% end %></p>
          <% if event["phone"] != ""%>
          T: <%= event["phone"]%>
          <% else %>
          T: Unavailable
          <%end%>
          <p><%= link_to "Yelp", event["url"], target: "_blank"%></p>
        </div>
      </li>
    <% end %>
  <% end %>
  </ul>